#images {
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}

.image-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#modal {
    position: absolute;
    height: 400px;
    aspect-ratio: 1;
    border-radius: 15px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#title {
    padding: 1rem;
}

#ingredients-title {
    padding-left: 1rem;
}

#ingredients {
    margin-left: 2rem;
}

#nutrition-title {
    position: absolute;
    left: 1rem;
    bottom: 45%;
}

#nutrition-img {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 40%;
    margin: 1rem;
}

#bottle {
    position: absolute;
    right: 1rem;
    top: 2rem;
    height: 45%;
}

#specials {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 1rem;
}

#special-img {
    height: 125px;
}
